body {
    font-size: 16px;
    font-family: "poppins";
    font-weight: 400;
}

main {
  width: 1900px;
}

@media screen and (max-width: 600px) {
  body {
    
  }
} 


.collapsible {
  background-color: #eee;
  color: #60C9C3;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  
}

.active, .collapsible:hover {
  background-color: #ccc;
  height: fit-content;
  width: fit-content;
}

.topnav {
  background-color: #FFEDED;
  overflow: hidden;
  padding: 0 18px;
  display: none;
  
}



/* NAVBAR */

.navbar-brand img {
    width: 200px;
}

input{

  display:none;

}

input:checked ~ label span:last-child{

  display:none;

}

input:not(:checked) ~ label span:first-child{

 display:none;

}

.topnav{
  overflow:hidden;
}

ul{

  overflow:hidden;

  width:0;

  height:0;

  padding:0;

  margin:0;

  transition:width 0.5s, height 0.5s;

  list-style:none;

}

input:checked ~ ul{

  width:200px;

  height:90px;

}


/* .topnav {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    padding: 78px 50px;
    list-style-type: none;
  }
  
  .topnav a {
   
    color: #998E8E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'poppins';
    font-weight: 500;
  }
  
  .topnav a:hover {
    background-color: #F45757;
    color: white;
    border-radius: 100px;
  }
  
  .topnav a.active {
    background-color: #F45757;
    color: white;
    border-radius: 100px;
  } */


/* MAIN HERO */

  .main-hero {
    background-color: #FFEDED;
    background: fill;
    height: 609px;
    padding: 75px;
  }

  /* Sarah Gephart */

h2 {
/* position: absolute; */
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 40px;
letter-spacing: 0.09em;
color: #F45757;
}

/* UX/UI | LOGO DESIGN | CHARACTER ILLUSTRATOR */

#position {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
letter-spacing: 0.09em;
}

/* GRAPHIC DESIGNER */

.title {
/* position: absolute;
width: 536px;
height: 180px;
left: 86px;
top: 357px; */

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 90px;
letter-spacing: 0.09em;
width: 180px;
color: #F45757;
}

.hero-image img {
  float: right;
  width: 686px;
  height: 457px;
}

/* PROJECTS */

.projects .content-wrapper {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header {
    display: flex;
    margin: 25px;
}

.cards {
    display: flex;
    flex-direction: row;
    border: none;  
}

.catproject img {

background: url(Catproject.jpg);
border-radius: 10%;
}

.girl img {
background: url(Hogwartsproject.jpg);
border-radius: 10%;
}

.epictobias img {
background: url(Tobiasproject.jpg);
border-radius: 10%;
}

a {
  font-family: 'Josefin Sans';
  text-decoration: none;
  color: #000000;
  
}

.button {
    
    transition-duration: 0.4s;
    font-family: 'poppins';
    font-weight: 700;
    background-color: #60C9C3;
    border: none;
    color: white;
    padding: 17px 108px;
    text-decoration: none;
    border-radius: 40px;
    margin: 25px;
}

.button:hover {
    background-color: #22615e;
}

.about {
    padding: 6%;
    width: auto;
    height: 609px;
    background-color: #FFEDED;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
  

.about-bio {
  
  width: 250px;
    
}

.carousel {
  align-self: flex-end;
  align-content: center;
  width: 300px;
}

.services .content-wrapper {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  background-color: #FFEDED;
  height: 609px;
}

.contact .content-wrapper {
  display: flex;
  width: 100%;
  margin: 0px;
}

.containerpink {
  display: flex;
  flex-direction: row;
  background-color: #F45757;
  height: 609px;
  width: 30%;
  border-radius: 0px 40px 40px 0px;
}


.containerwhite {
  float: right;
  background-color: #9a3d3d;
  height: 400px;
  width: 700%;
  border-radius: 40px 0px 0px 40px;
  margin: auto;
}

#footer {
  min-width: 2000px;
  background-color: #F8A1A1;
}

#footer .content-wrapper {
  height: 400px;
  justify-content: center;
  text-align: center;
  padding: 6%;
}