/* body {
    margin: 0%;
    padding: 0%
} */
/* .navbar {
    width: 100%;
    font-family: "poppins";
    font-weight: 500;
    background-color: purple;
    color: 998E8E;
} */
/* .navbar-brand {
    text-decoration: none;
    font-family: "poppins";
    font-weight: 500;
} */
.topnav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding: 78px 50px;
    list-style-type: none;
  }
  
  .topnav a {
   
    color: #998E8E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'poppins';
    font-weight: 500;
  }
  
  .topnav a:hover {
    background-color: #F45757;
    color: white;
    border-radius: 100px;
  }
  
  .topnav a.active {
    background-color: #F45757;
    color: white;
    border-radius: 100px;
  }

  /* mediaquery screen (width="600px") {

  } */